body{
        background-color: #b1edff;
        color: #4b290a;
}
.cor{

    background-color: #beffbe;
    height: 95vh;
    width: 95vw;
    padding-left: 2vw;
    font-size: large;
    font-family: bebas; 
    font-size: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.borda{
    display: flex;
    justify-content: center;
    align-content: center;
    position:static;
    padding-top: 1.5vh;
}

.botao{
    font-family: bebas;
    border-radius: 5px; 
    background-color: white;
    color: rgb(66, 65, 65);
    border-color: rgb(119, 119, 119);
    ;
}


.titulo{
    font-family: titulo;
    font-size: 32px;
}

.mundo , .mundo_2{
    display: flex;
    justify-content: center;
    font-family: nome;
    font-size: 50px;
    height: 200px;
    width: 500px;
}

.mundo_2{
    position: relative;
    left: -vw;
}

.check{
        position: relative;
        left: vw;
        width: 500px;
        height: 0px;
}
.check_2{
    position: relative;
    top: 20vh;
    left: -20vw;
    height: 0;
 

}

label{
    font-size: larger;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}



@font-face {
    font-family: 'bebas';
    src: url(https://gean12390.github.io/site-de-fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'titulo';
    src: url(https://gean12390.github.io/site-de-fonts/TitanOne-Regular.ttf);
}
@font-face {
    font-family: 'nome';
    src: url(https://gean12390.github.io/site-de-fonts/ArtBook.ttf);
}

